<?xml version="1.0"?>
<connectionStrings>
    <add name="cs" connectionString="Server=.;Database=AdventureWorksOBP;Uid=sa;Pwd=SQL;" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=aspnet-rwa_projekt_ETST;Uid=sa;Pwd=SQL;" providerName="System.Data.SqlClient" />
</connectionStrings>